In [12]:
import pandas as pd
import numpy as np

## CENSUS 2020

In [13]:
df = pd.DataFrame(pd.read_excel("econ_2019_acs5yr_nta.xlsx"))
df

,GeoType,NTAType,GeoName,GeoID,Borough,Pop16plE,Pop16plM,Pop16plC,Pop16plP,Pop16plZ,...,Pv400t499E,Pv400t499M,Pv400t499C,Pv400t499P,Pv400t499Z,Pv500plE,Pv500plM,Pv500plC,Pv500plP,Pv500plZ
0,NTA2020,0,Greenpoint,BK0101,Brooklyn,30972,941.0,1.8,100.0,0.0,...,4580,553.0,7.3,13.3,1.5,15664,828.0,3.2,45.5,1.9
1,NTA2020,0,Williamsburg,BK0102,Brooklyn,48833,1269.0,1.6,100.0,0.0,...,4786,590.0,7.5,8.3,1.0,24400,1206.0,3.0,42.3,1.7
2,NTA2020,0,South Williamsburg,BK0103,Brooklyn,23804,774.0,2.0,100.0,0.0,...,1269,341.0,16.3,2.8,0.7,2702,459.0,10.3,6.0,1.0
3,NTA2020,0,East Williamsburg,BK0104,Brooklyn,45756,1231.0,1.6,100.0,0.0,...,5135,626.0,7.4,9.8,1.2,13906,823.0,3.6,26.6,1.4
4,NTA2020,0,Brooklyn Heights,BK0201,Brooklyn,20241,785.0,2.4,100.0,0.0,...,1309,271.0,12.6,6.0,1.2,16066,862.0,3.3,73.4,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,NTA2020,9,Freshkills Park (North),SI0291,Staten Island,38,21.0,33.9,100.0,0.0,...,6,16.0,151.3,13.4,32.6,17,27.0,94.6,36.6,53.8
258,NTA2020,9,Freshkills Park (South),SI0391,Staten Island,21,17.0,48.6,100.0,0.0,...,0,NaN,NaN,NaN,NaN,9,16.0,105.3,43.5,66.8
259,NTA2020,9,Hoffman & Swinburne Islands,SI9591,Staten Island,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
260,NTA2020,9,Miller Field,SI9592,Staten Island,22,27.0,74.4,100.0,0.0,...,3,12.0,245.2,10.5,40.0,9,18.0,121.9,33.2,50.2
261,NTA2020,9,Great Kills Park,SI9593,Staten Island,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN

In [14]:
list(df.columns)

['GeoType',
 'NTAType',
 'GeoName',
 'GeoID',
 'Borough',
 'Pop16plE',
 'Pop16plM',
 'Pop16plC',
 'Pop16plP',
 'Pop16plZ',
 'LFE',
 'LFM',
 'LFC',
 'LFP',
 'LFZ',
 'CvLF1E',
 'CvLF1M',
 'CvLF1C',
 'CvLF1P',
 'CvLF1Z',
 'CvEm16pl1E',
 'CvEm16pl1M',
 'CvEm16pl1C',
 'CvEm16pl1P',
 'CvEm16pl1Z',
 'CvLFUEm1E',
 'CvLFUEm1M',
 'CvLFUEm1C',
 'CvLFUEm1P',
 'CvLFUEm1Z',
 'LFArmdFE',
 'LFArmdFM',
 'LFArmdFC',
 'LFArmdFP',
 'LFArmdFZ',
 'NLF1E',
 'NLF1M',
 'NLF1C',
 'NLF1P',
 'NLF1Z',
 'CvLF2E',
 'CvLF2M',
 'CvLF2C',
 'CvLF2P',
 'CvLF2Z',
 'CvLFUEm2E',
 'CvLFUEm2M',
 'CvLFUEm2C',
 'CvLFUEm2P',
 'CvLFUEm2Z',
 'F16plE',
 'F16plM',
 'F16plC',
 'F16plP',
 'F16plZ',
 'F16plLFE',
 'F16plLFM',
 'F16plLFC',
 'F16plLFP',
 'F16plLFZ',
 'F16plCvLFE',
 'F16plCvLFM',
 'F16plCvLFC',
 'F16plCvLFP',
 'F16plCvLFZ',
 'F16plCLFEE',
 'F16plCLFEM',
 'F16plCLFEC',
 'F16plCLFEP',
 'F16plCLFEZ',
 'OChU6E',
 'OChU6M',
 'OChU6C',
 'OChU6P',
 'OChU6Z',
 'OChU6PLFE',
 'OChU6PLFM',
 'OChU6PLFC',
 'OChU6PLFP',
 'OChU6PLFZ',
 'OCh6t17E',
 'OCh6t17M',
 'OCh6t17C',
 'OCh6t17P',
 'OCh6t17Z',
 'OC6t17PLFE',
 'OC6t17PLFM',
 'OC6t17PLFC',
 'OC6t17PLFP',
 'OC6t17PLFZ',
 'Wrkr16plE',
 'Wrkr16plM',
 'Wrkr16plC',
 'Wrkr16plP',
 'Wrkr16plZ',
 'CW_DrvAlnE',
 'CW_DrvAlnM',
 'CW_DrvAlnC',
 'CW_DrvAlnP',
 'CW_DrvAlnZ',
 'CW_CrpldE',
 'CW_CrpldM',
 'CW_CrpldC',
 'CW_CrpldP',
 'CW_CrpldZ',
 'CW_PbTrnsE',
 'CW_PbTrnsM',
 'CW_PbTrnsC',
 'CW_PbTrnsP',
 'CW_PbTrnsZ',
 'CW_WlkdE',
 'CW_WlkdM',
 'CW_WlkdC',
 'CW_WlkdP',
 'CW_WlkdZ',
 'CW_OthE',
 'CW_OthM',
 'CW_OthC',
 'CW_OthP',
 'CW_OthZ',
 'CW_WrkdHmE',
 'CW_WrkdHmM',
 'CW_WrkdHmC',
 'CW_WrkdHmP',
 'CW_WrkdHmZ',
 'MnTrvTmE',
 'MnTrvTmM',
 'MnTrvTmC',
 'MnTrvTmP',
 'MnTrvTmZ',
 'CvEm16pl2E',
 'CvEm16pl2M',
 'CvEm16pl2C',
 'CvEm16pl2P',
 'CvEm16pl2Z',
 'MgBSciArtE',
 'MgBSciArtM',
 'MgBSciArtC',
 'MgBSciArtP',
 'MgBSciArtZ',
 'SrvcE',
 'SrvcM',
 'SrvcC',
 'SrvcP',
 'SrvcZ',
 'SalesOffE',
 'SalesOffM',
 'SalesOffC',
 'SalesOffP',
 'SalesOffZ',
 'NRCnstMntE',
 'NRCnstMntM',
 'NRCnstMntC',
 'NRCnstMntP',
 'NRCnstMntZ',
 'PrdTrnsMME',
 'PrdTrnsMMM',
 'PrdTrnsMMC',
 'PrdTrnsMMP',
 'PrdTrnsMMZ',
 'CvEm16pl3E',
 'CvEm16pl3M',
 'CvEm16pl3C',
 'CvEm16pl3P',
 'CvEm16pl3Z',
 'AgFFHME',
 'AgFFHMM',
 'AgFFHMC',
 'AgFFHMP',
 'AgFFHMZ',
 'ConstctnE',
 'ConstctnM',
 'ConstctnC',
 'ConstctnP',
 'ConstctnZ',
 'MnfctrngE',
 'MnfctrngM',
 'MnfctrngC',
 'MnfctrngP',
 'MnfctrngZ',
 'WhlsaleE',
 'WhlsaleM',
 'WhlsaleC',
 'WhlsaleP',
 'WhlsaleZ',
 'RetailE',
 'RetailM',
 'RetailC',
 'RetailP',
 'RetailZ',
 'TrWHUtE',
 'TrWHUtM',
 'TrWHUtC',
 'TrWHUtP',
 'TrWHUtZ',
 'InfoE',
 'InfoM',
 'InfoC',
 'InfoP',
 'InfoZ',
 'FIREE',
 'FIREM',
 'FIREC',
 'FIREP',
 'FIREZ',
 'PrfSMgAWME',
 'PrfSMgAWMM',
 'PrfSMgAWMC',
 'PrfSMgAWMP',
 'PrfSMgAWMZ',
 'EdHlthCSAE',
 'EdHlthCSAM',
 'EdHlthCSAC',
 'EdHlthCSAP',
 'EdHlthCSAZ',
 'ArtEnRAFSE',
 'ArtEnRAFSM',
 'ArtEnRAFSC',
 'ArtEnRAFSP',
 'ArtEnRAFSZ',
 'OthnotPAE',
 'OthnotPAM',
 'OthnotPAC',
 'OthnotPAP',
 'OthnotPAZ',
 'PubAdminE',
 'PubAdminM',
 'PubAdminC',
 'PubAdminP',
 'PubAdminZ',
 'CvEm16pl4E',
 'CvEm16pl4M',
 'CvEm16pl4C',
 'CvEm16pl4P',
 'CvEm16pl4Z',
 'PrvWSWrkrE',
 'PrvWSWrkrM',
 'PrvWSWrkrC',
 'PrvWSWrkrP',
 'PrvWSWrkrZ',
 'GvtWrkrE',
 'GvtWrkrM',
 'GvtWrkrC',
 'GvtWrkrP',
 'GvtWrkrZ',
 'SlfEmNIncE',
 'SlfEmNIncM',
 'SlfEmNIncC',
 'SlfEmNIncP',
 'SlfEmNIncZ',
 'UpdFmWrkrE',
 'UpdFmWrkrM',
 'UpdFmWrkrC',
 'UpdFmWrkrP',
 'UpdFmWrkrZ',
 'HH2E',
 'HH2M',
 'HH2C',
 'HH2P',
 'HH2Z',
 'HHIU10E',
 'HHIU10M',
 'HHIU10C',
 'HHIU10P',
 'HHIU10Z',
 'HHI10t14E',
 'HHI10t14M',
 'HHI10t14C',
 'HHI10t14P',
 'HHI10t14Z',
 'HHI15t24E',
 'HHI15t24M',
 'HHI15t24C',
 'HHI15t24P',
 'HHI15t24Z',
 'HHI25t34E',
 'HHI25t34M',
 'HHI25t34C',
 'HHI25t34P',
 'HHI25t34Z',
 'HHI35t49E',
 'HHI35t49M',
 'HHI35t49C',
 'HHI35t49P',
 'HHI35t49Z',
 'HHI50t74E',
 'HHI50t74M',
 'HHI50t74C',
 'HHI50t74P',
 'HHI50t74Z',
 'HHI75t99E',
 'HHI75t99M',
 'HHI75t99C',
 'HHI75t99P',
 'HHI75t99Z',
 'HI100t149E',
 'HI100t149M',
 'HI100t149C',
 'HI100t149P',
 'HI100t149Z',
 'HI150t199E',
 'HI150t199M',
 'HI150t199C',
 'HI150t199P',
 'HI150t199Z',
 'HHI200plE',
 'HHI200plM',
 'HHI200plC',
 'HHI200plP',
 'HHI200plZ',
 'MdHHIncE',
 'MdHHIncM',
 'MdHHIncC',
 'MdHHIncP',
 'MdHHIncZ',
 'MnHHIncE',
 'MnHHIncM',
 'MnHHIncC',
 'MnHHIncP',
 'MnHHIncZ',
 'Inc_SoSecE',
 'Inc_SoSecM',
 'Inc_SoSecC',
 'Inc_SoSecP',
 'Inc_SoSecZ',
 'Inc_RtrmtE',
 'Inc_RtrmtM',
 'Inc_RtrmtC',
 'Inc_RtrmtP',
 'Inc_RtrmtZ',
 'Inc_SpSecE',
 'Inc_SpSecM',
 'Inc_SpSecC',
 'Inc_SpSecP',
 'Inc_SpSecZ',
 'Inc_CPbAE',
 'Inc_CPbAM',
 'Inc_CPbAC',
 'Inc_CPbAP',
 'Inc_CPbAZ',
 'Inc_SNAPE',
 'Inc_SNAPM',
 'Inc_SNAPC',
 'Inc_SNAPP',
 'Inc_SNAPZ',
 'Fam2E',
 'Fam2M',
 'Fam2C',
 'Fam2P',
 'Fam2Z',
 'FamIU10E',
 'FamIU10M',
 'FamIU10C',
 'FamIU10P',
 'FamIU10Z',
 'FamI10t14E',
 'FamI10t14M',
 'FamI10t14C',
 'FamI10t14P',
 'FamI10t14Z',
 'FamI15t24E',
 'FamI15t24M',
 'FamI15t24C',
 'FamI15t24P',
 'FamI15t24Z',
 'FamI25t34E',
 'FamI25t34M',
 'FamI25t34C',
 'FamI25t34P',
 'FamI25t34Z',
 'FamI35t49E',
 'FamI35t49M',
 'FamI35t49C',
 'FamI35t49P',
 'FamI35t49Z',
 'FamI50t74E',
 'FamI50t74M',
 'FamI50t74C',
 'FamI50t74P',
 'FamI50t74Z',
 'FamI75t99E',
 'FamI75t99M',
 'FamI75t99C',
 'FamI75t99P',
 'FamI75t99Z',
 'FI100t149E',
 'FI100t149M',
 'FI100t149C',
 'FI100t149P',
 'FI100t149Z',
 'FI150t199E',
 'FI150t199M',
 'FI150t199C',
 'FI150t199P',
 'FI150t199Z',
 'FamI200plE',
 'FamI200plM',
 'FamI200plC',
 'FamI200plP',
 'FamI200plZ',
 'MdFamIncE',
 'MdFamIncM',
 'MdFamIncC',
 'MdFamIncP',
 'MdFamIncZ',
 'Nfam2E',
 'Nfam2M',
 'Nfam2C',
 'Nfam2P',
 'Nfam2Z',
 'MdNFIncE',
 'MdNFIncM',
 'MdNFIncC',
 'MdNFIncP',
 'MdNFIncZ',
 'PerCapIncE',
 'PerCapIncM',
 'PerCapIncC',
 'PerCapIncP',
 'PerCapIncZ',
 'MdEWrkE',
 'MdEWrkM',
 'MdEWrkC',
 'MdEWrkP',
 'MdEWrkZ',
 'MdEMFTWrkE',
 'MdEMFTWrkM',
 'MdEMFTWrkC',
 'MdEMFTWrkP',
 'MdEMFTWrkZ',
 'MdEFFTWrkE',
 'MdEFFTWrkM',
 'MdEFFTWrkC',
 'MdEFFTWrkP',
 'MdEFFTWrkZ',
 'CvNIPop2E',
 'CvNIPop2M',
 'CvNIPop2C',
 'CvNIPop2P',
 'CvNIPop2Z',
 'HInsE',
 'HInsM',
 'HInsC',
 'HInsP',
 'HInsZ',
 'PvHInsE',
 'PvHInsM',
 'PvHInsC',
 'PvHInsP',
 'PvHInsZ',
 'PbHInsE',
 'PbHInsM',
 'PbHInsC',
 'PbHInsP',
 'PbHInsZ',
 'NHInsE',
 'NHInsM',
 'NHInsC',
 'NHInsP',
 'NHInsZ',
 'CvNIU18_2E',
 'CvNIU18_2M',
 'CvNIU18_2C',
 'CvNIU18_2P',
 'CvNIU18_2Z',
 'U18NHInsE',
 'U18NHInsM',
 'U18NHInsC',
 'U18NHInsP',
 'U18NHInsZ',
 'CNI1864_2E',
 'CNI1864_2M',
 'CNI1864_2C',
 'CNI1864_2P',
 'CNI1864_2Z',
 'CvLF18t64E',
 'CvLF18t64M',
 'CvLF18t64C',
 'CvLF18t64P',
 'CvLF18t64Z',
 'CvLFEmE',
 'CvLFEmM',
 'CvLFEmC',
 'CvLFEmP',
 'CvLFEmZ',
 'EmHInsE',
 'EmHInsM',
 'EmHInsC',
 'EmHInsP',
 'EmHInsZ',
 'EmPvHInsE',
 'EmPvHInsM',
 'EmPvHInsC',
 'EmPvHInsP',
 'EmPvHInsZ',
 'EmPbHInsE',
 'EmPbHInsM',
 'EmPbHInsC',
 'EmPbHInsP',
 'EmPbHInsZ',
 'EmNHInsE',
 'EmNHInsM',
 'EmNHInsC',
 'EmNHInsP',
 'EmNHInsZ',
 'UEmE',
 'UEmM',
 'UEmC',
 'UEmP',
 'UEmZ',
 'UEmHInsE',
 'UEmHInsM',
 'UEmHInsC',
 'UEmHInsP',
 'UEmHInsZ',
 'UEmPvHInsE',
 'UEmPvHInsM',
 'UEmPvHInsC',
 'UEmPvHInsP',
 'UEmPvHInsZ',
 'UEmPbHInsE',
 'UEmPbHInsM',
 'UEmPbHInsC',
 'UEmPbHInsP',
 'UEmPbHInsZ',
 'UEmNHInsE',
 'UEmNHInsM',
 'UEmNHInsC',
 'UEmNHInsP',
 'UEmNHInsZ',
 'NLF2E',
 'NLF2M',
 'NLF2C',
 'NLF2P',
 'NLF2Z',
 'NLFHInsE',
 'NLFHInsM',
 'NLFHInsC',
 'NLFHInsP',
 'NLFHInsZ',
 'NLFPvHInsE',
 'NLFPvHInsM',
 'NLFPvHInsC',
 'NLFPvHInsP',
 'NLFPvHInsZ',
 'NLFPbHInsE',
 'NLFPbHInsM',
 'NLFPbHInsC',
 'NLFPbHInsP',
 'NLFPbHInsZ',
 'NLFNHInsE',
 'NLFNHInsM',
 'NLFNHInsC',
 'NLFNHInsP',
 'NLFNHInsZ',
 'FamPvUE',
 'FamPvUM',
 'FamPvUC',
 'FamPvUP',
 'FamPvUZ',
 'FamBwPvE',
 'FamBwPvM',
 'FamBwPvC',
 'FamBwPvP',
 'FamBwPvZ',
 'PopPvU1E',
 'PopPvU1M',
 'PopPvU1C',
 'PopPvU1P',
 'PopPvU1Z',
 'PBwPvE',
 'PBwPvM',
 'PBwPvC',
 'PBwPvP',
 'PBwPvZ',
 'PU18PvUE',
 'PU18PvUM',
 'PU18PvUC',
 'PU18PvUP',
 'PU18PvUZ',
 'PU18BwPvE',
 'PU18BwPvM',
 'PU18BwPvC',
 'PU18BwPvP',
 'PU18BwPvZ',
 'P65plPvUE',
 'P65plPvUM',
 'P65plPvUC',
 'P65plPvUP',
 'P65plPvUZ',
 'P65plBwPvE',
 'P65plBwPvM',
 'P65plBwPvC',
 'P65plBwPvP',
 'P65plBwPvZ',
 'PopPvU2E',
 'PopPvU2M',
 'PopPvU2C',
 'PopPvU2P',
 'PopPvU2Z',
 'PvU50E',
 'PvU50M',
 'PvU50C',
 'PvU50P',
 'PvU50Z',
 'Pv50t74E',
 'Pv50t74M',
 'Pv50t74C',
 'Pv50t74P',
 'Pv50t74Z',
 'Pv75t99E',
 'Pv75t99M',
 'Pv75t99C',
 'Pv75t99P',
 'Pv75t99Z',
 'Pv100t124E',
 'Pv100t124M',
 'Pv100t124C',
 'Pv100t124P',
 'Pv100t124Z',
 'Pv125t149E',
 'Pv125t149M',
 'Pv125t149C',
 'Pv125t149P',
 'Pv125t149Z',
 'Pv150t174E',
 'Pv150t174M',
 'Pv150t174C',
 'Pv150t174P',
 'Pv150t174Z',
 'Pv175t184E',
 'Pv175t184M',
 'Pv175t184C',
 'Pv175t184P',
 'Pv175t184Z',
 'Pv185t199E',
 'Pv185t199M',
 'Pv185t199C',
 'Pv185t199P',
 'Pv185t199Z',
 'Pv200t299E',
 'Pv200t299M',
 'Pv200t299C',
 'Pv200t299P',
 'Pv200t299Z',
 'Pv300t399E',
 'Pv300t399M',
 'Pv300t399C',
 'Pv300t399P',
 'Pv300t399Z',
 'Pv400t499E',
 'Pv400t499M',
 'Pv400t499C',
 'Pv400t499P',
 'Pv400t499Z',
 'Pv500plE',
 'Pv500plM',
 'Pv500plC',
 'Pv500plP',
 'Pv500plZ']

In [15]:
#select main columns
main_df = df[["GeoName", "Borough", "Pop16plE", "PerCapIncE", "MdHHIncE", "MnTrvTmE", "CvLFUEm1P"]]
main_df

,GeoName,Borough,Pop16plE,PerCapIncE,MdHHIncE,MnTrvTmE,CvLFUEm1P
0,Greenpoint,Brooklyn,30972,55891.0,94418.0,37.9,2.7
1,Williamsburg,Brooklyn,48833,62355.0,101460.0,33.5,3.5
2,South Williamsburg,Brooklyn,23804,12613.0,30500.0,23.3,2.0
3,East Williamsburg,Brooklyn,45756,39369.0,59717.0,36.9,5.0
4,Brooklyn Heights,Brooklyn,20241,101610.0,138721.0,31.8,2.9
...,...,...,...,...,...,...,...
257,Freshkills Park (North),Staten Island,38,39605.0,88544.0,39.4,NaN
258,Freshkills Park (South),Staten Island,21,86743.0,200000.0,34.5,NaN
259,Hoffman & Swinburne Islands,Staten Island,0,NaN,NaN,NaN,NaN
260,Miller Field,Staten Island,22,32710.0,83115.0,42.9,2.4
261,Great Kills Park,Staten Island,0,NaN,NaN,NaN,NaN

In [16]:
census_2020 = main_df.rename(columns={'GeoName': 'Neighborhood', 'Pop16plE': 'Population_2020', 'PerCapIncE': 'Per_Capita_Income_2020',
                                  'MdHHIncE': 'Median_Income_2020', 'MnTrvTmE': 'Mean_Travel_Time_Work',
                                  'CvLFUEm1P': 'Unemployment_Rate_2020' })
census_2020

,Neighborhood,Borough,Population_2020,Per_Capita_Income_2020,Median_Income_2020,Mean_Travel_Time_Work,Unemployment_Rate_2020
0,Greenpoint,Brooklyn,30972,55891.0,94418.0,37.9,2.7
1,Williamsburg,Brooklyn,48833,62355.0,101460.0,33.5,3.5
2,South Williamsburg,Brooklyn,23804,12613.0,30500.0,23.3,2.0
3,East Williamsburg,Brooklyn,45756,39369.0,59717.0,36.9,5.0
4,Brooklyn Heights,Brooklyn,20241,101610.0,138721.0,31.8,2.9
...,...,...,...,...,...,...,...
257,Freshkills Park (North),Staten Island,38,39605.0,88544.0,39.4,NaN
258,Freshkills Park (South),Staten Island,21,86743.0,200000.0,34.5,NaN
259,Hoffman & Swinburne Islands,Staten Island,0,NaN,NaN,NaN,NaN
260,Miller Field,Staten Island,22,32710.0,83115.0,42.9,2.4
261,Great Kills Park,Staten Island,0,NaN,NaN,NaN,NaN

In [17]:
census_2020.to_csv("census_2020.csv", sep=",", encoding='utf-8', index=False)

## CENSUS 2017

In [18]:
df = pd.DataFrame(pd.read_excel("econ_2016acs5yr_nta.xlsx"))
df

,GeoType,GeogName,GeoID,Borough,Pop16plE,Pop16plM,Pop16plC,Pop16plP,Pop16plZ,LFE,...,Pv400t499E,Pv400t499M,Pv400t499C,Pv400t499P,Pv400t499Z,Pv500plE,Pv500plM,Pv500plC,Pv500plP,Pv500plZ
0,NTA2010,Allerton-Pelham Gardens,BX31,Bronx,26656,1076.0,2.5,100.0,NaN,15885,...,3387,402.0,7.2,11.1,1.2,8233,669.0,4.9,26.9,1.9
1,NTA2010,Bedford Park-Fordham North,BX05,Bronx,42293,1424.0,2.0,100.0,NaN,27301,...,3957,584.0,9.0,7.1,1.0,3763,528.0,8.5,6.8,0.9
2,NTA2010,Belmont,BX06,Bronx,22085,1070.0,2.9,100.0,NaN,12311,...,805,266.0,20.1,3.0,1.0,1212,274.0,13.7,4.6,1.0
3,NTA2010,Bronxdale,BX07,Bronx,30046,1151.0,2.3,100.0,NaN,17822,...,3407,514.0,9.2,9.2,1.3,3996,527.0,8.0,10.8,1.4
4,NTA2010,Claremont-Bathgate,BX01,Bronx,24213,1388.0,3.5,100.0,NaN,12420,...,678,209.0,18.7,2.0,0.6,1072,257.0,14.6,3.2,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,NTA2010,Rossville-Woodrow,SI32,Staten Island,17061,682.0,2.4,100.0,NaN,10281,...,3259,524.0,9.8,15.2,2.4,9146,795.0,5.3,42.8,3.2
191,NTA2010,Stapleton-Rosebank,SI37,Staten Island,20812,812.0,2.4,100.0,NaN,12376,...,2778,396.0,8.7,10.9,1.5,6128,541.0,5.4,24.0,1.9
192,NTA2010,Todt Hill-Emerson Hill-Heartland Village-Light...,SI24,Staten Island,26686,890.0,2.0,100.0,NaN,15446,...,3462,481.0,8.4,10.9,1.5,14159,947.0,4.1,44.7,2.5
193,NTA2010,West New Brighton-New Brighton-St. George,SI22,Staten Island,25027,898.0,2.2,100.0,NaN,14310,...,2923,430.0,8.9,8.9,1.3,7241,573.0,4.8,22.1,1.5
194,NTA2010,Westerleigh,SI07,Staten Island,19640,719.0,2.2,100.0,NaN,11794,...,3535,545.0,9.4,14.7,2.2,10750,738.0,4.2,44.6,2.6

In [19]:
#select main columns
main_df = df[["GeogName", "Borough", "Pop16plE", "PerCapIncE", "MdHHIncE", "MnTrvTmE", "CvLFUEm1P"]]
main_df

,GeogName,Borough,Pop16plE,PerCapIncE,MdHHIncE,MnTrvTmE,CvLFUEm1P
0,Allerton-Pelham Gardens,Bronx,26656,24908.0,59992.0,42.7,6.1
1,Bedford Park-Fordham North,Bronx,42293,17447.0,33643.0,41.7,9.5
2,Belmont,Bronx,22085,12279.0,24727.0,38.3,7.7
3,Bronxdale,Bronx,30046,18053.0,35431.0,44.4,8.3
4,Claremont-Bathgate,Bronx,24213,10561.0,21369.0,47.0,8.5
...,...,...,...,...,...,...,...
190,Rossville-Woodrow,Staten Island,17061,38559.0,93405.0,46.0,2.5
191,Stapleton-Rosebank,Staten Island,20812,25637.0,53120.0,41.6,3.9
192,Todt Hill-Emerson Hill-Heartland Village-Light...,Staten Island,26686,42579.0,83355.0,41.5,2.9
193,West New Brighton-New Brighton-St. George,Staten Island,25027,24737.0,48899.0,44.2,4.0
194,Westerleigh,Staten Island,19640,36982.0,79491.0,37.6,4.2

In [20]:
census_2017 = main_df.rename(columns={'GeogName': 'Neighborhood', 'Pop16plE': 'Population_2017', 'PerCapIncE': 'Per_Capita_Income_2017',
                                  'MdHHIncE': 'Median_Income_2017', 'MnTrvTmE': 'Mean_Travel_Time_Work',
                                  'CvLFUEm1P': 'Unemployment_Rate_2017' })
census_2017

,Neighborhood,Borough,Population_2017,Per_Capita_Income_2017,Median_Income_2017,Mean_Travel_Time_Work,Unemployment_Rate_2017
0,Allerton-Pelham Gardens,Bronx,26656,24908.0,59992.0,42.7,6.1
1,Bedford Park-Fordham North,Bronx,42293,17447.0,33643.0,41.7,9.5
2,Belmont,Bronx,22085,12279.0,24727.0,38.3,7.7
3,Bronxdale,Bronx,30046,18053.0,35431.0,44.4,8.3
4,Claremont-Bathgate,Bronx,24213,10561.0,21369.0,47.0,8.5
...,...,...,...,...,...,...,...
190,Rossville-Woodrow,Staten Island,17061,38559.0,93405.0,46.0,2.5
191,Stapleton-Rosebank,Staten Island,20812,25637.0,53120.0,41.6,3.9
192,Todt Hill-Emerson Hill-Heartland Village-Light...,Staten Island,26686,42579.0,83355.0,41.5,2.9
193,West New Brighton-New Brighton-St. George,Staten Island,25027,24737.0,48899.0,44.2,4.0
194,Westerleigh,Staten Island,19640,36982.0,79491.0,37.6,4.2

In [21]:
census_2017.to_csv("census_2017.csv", sep=",", encoding='utf-8', index=False)

In [24]:
#Change boroname Bronx to The Bronx
df = pd.read_csv("finalcensus_2017.csv")
df.loc[df['Borough'] == "Bronx", 'Borough'] = "The Bronx"
df.to_csv("finalcensus_2017.csv", sep=',', encoding='utf-8', index=False)

In [25]:
df = pd.read_csv("finalcensus_2020.csv")
df.loc[df['Borough'] == "Bronx", 'Borough'] = "The Bronx"
df.to_csv("finalcensus_2020.csv", sep=',', encoding='utf-8', index=False)

In [29]:
df = pd.read_csv("finalcensus_2020.csv")

## Trains

In [30]:
df = pd.read_csv("NYC_subway_traffic_2017-2021.csv")
df

,Unique ID,Datetime,Stop Name,Remote Unit,Line,Connecting Lines,Daytime Routes,North Direction Label,South Direction Label,Division,Structure,Borough,Neighborhood,Latitude,Longitude,Entries,Exits
0,1,2017-02-04 04:00:00,103 St,R180,Lexington Av,6,6,Uptown Bronx,Downtown,IRT,Subway,M,East Harlem,40.790600,-73.947478,403.0,222.0
1,2,2017-02-04 04:00:00,103 St,R191,Broadway - 7Av,1,1,Uptown Bronx,Downtown,IRT,Subway,M,Upper West Side,40.799446,-73.968379,119.0,145.0
2,3,2017-02-04 04:00:00,103 St,R314,8th Av - Fulton St,BC,BC,Uptown Bronx,Downtown Brooklyn,IND,Subway,M,Upper West Side,40.796092,-73.961454,55.0,81.0
3,10,2017-02-04 04:00:00,111 St,R355,Liberty Av,A,A,Manhattan,Lefferts Blvd,IND,Elevated,Q,South Ozone Park/Howard Beach,40.684331,-73.832163,156.0,30.0
4,11,2017-02-04 04:00:00,116 St,R182,Lexington Av,6,6,Uptown Bronx,Downtown,IRT,Subway,M,East Harlem,40.798629,-73.941617,495.0,303.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4589375,113,2021-08-13 20:00:00,5 Av/53 St,R015,Queens Blvd,EM,EM,Queens,Downtown Brooklyn,IND,Subway,M,Clinton/Chelsea,40.760167,-73.975224,1182.0,646.0
4589376,114,2021-08-13 20:00:00,5 Av/59 St,R079,Astoria,NQR,NWR,Queens,Downtown Brooklyn,BMT,Subway,M,Upper West Side,40.764811,-73.973347,1274.0,445.0
4589377,310,2021-08-13 20:00:00,Fulton St,R028,"Clark St, Lexington Av",2345ACJZ,2345,Uptown Bronx Uptown Bronx,Downtown Brooklyn Downtown Brooklyn,IRT,Subway,M,Financial District,40.709892,-74.008040,433.0,549.0
4589378,311,2021-08-13 20:00:00,Fulton St,R028,Jamaica,ACJZ2345,JZ,Brooklyn,Broad St,BMT,Subway,M,Financial District,40.710374,-74.007582,491.0,844.0
4589379,456,2021-08-13 20:00:00,Wall St,R043,Lexington Av,45,45,Uptown Bronx,Downtown Brooklyn,IRT,Subway,M,Financial District,40.707557,-74.011862,763.0,499.0

In [31]:
list(df.columns)

['Unique ID',
 'Datetime',
 'Stop Name',
 'Remote Unit',
 'Line',
 'Connecting Lines',
 'Daytime Routes',
 'North Direction Label',
 'South Direction Label',
 'Division',
 'Structure',
 'Borough',
 'Neighborhood',
 'Latitude',
 'Longitude',
 'Entries',
 'Exits']

In [47]:
#select main columns
main_df = df[["Unique ID", "Datetime", "Stop Name", "Line", "Connecting Lines", "Latitude", "Longitude",
              "Entries", "Exits"]]
main_df

,Unique ID,Datetime,Stop Name,Line,Connecting Lines,Latitude,Longitude,Entries,Exits
0,1,2017-02-04 04:00:00,103 St,Lexington Av,6,40.790600,-73.947478,403.0,222.0
1,2,2017-02-04 04:00:00,103 St,Broadway - 7Av,1,40.799446,-73.968379,119.0,145.0
2,3,2017-02-04 04:00:00,103 St,8th Av - Fulton St,BC,40.796092,-73.961454,55.0,81.0
3,10,2017-02-04 04:00:00,111 St,Liberty Av,A,40.684331,-73.832163,156.0,30.0
4,11,2017-02-04 04:00:00,116 St,Lexington Av,6,40.798629,-73.941617,495.0,303.0
...,...,...,...,...,...,...,...,...,...
4589375,113,2021-08-13 20:00:00,5 Av/53 St,Queens Blvd,EM,40.760167,-73.975224,1182.0,646.0
4589376,114,2021-08-13 20:00:00,5 Av/59 St,Astoria,NQR,40.764811,-73.973347,1274.0,445.0
4589377,310,2021-08-13 20:00:00,Fulton St,"Clark St, Lexington Av",2345ACJZ,40.709892,-74.008040,433.0,549.0
4589378,311,2021-08-13 20:00:00,Fulton St,Jamaica,ACJZ2345,40.710374,-74.007582,491.0,844.0
4589379,456,2021-08-13 20:00:00,Wall St,Lexington Av,45,40.707557,-74.011862,763.0,499.0

In [48]:
#editing columns for better analysis
main_df['Year'] = pd.DatetimeIndex(main_df['Datetime']).year
main_df["Num_Connecting_Lines"] = df['Connecting Lines'].str.len()
main_df

/var/folders/xg/9_m1hkt52sz5__7p9y4ktmjr0000gn/T/ipykernel_31550/2616355317.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_df['Year'] = pd.DatetimeIndex(main_df['Datetime']).year
/var/folders/xg/9_m1hkt52sz5__7p9y4ktmjr0000gn/T/ipykernel_31550/2616355317.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_df["Num_Connecting_Lines"] = df['Connecting Lines'].str.len()

,Unique ID,Datetime,Stop Name,Line,Connecting Lines,Latitude,Longitude,Entries,Exits,Year,Num_Connecting_Lines
0,1,2017-02-04 04:00:00,103 St,Lexington Av,6,40.790600,-73.947478,403.0,222.0,2017,1
1,2,2017-02-04 04:00:00,103 St,Broadway - 7Av,1,40.799446,-73.968379,119.0,145.0,2017,1
2,3,2017-02-04 04:00:00,103 St,8th Av - Fulton St,BC,40.796092,-73.961454,55.0,81.0,2017,2
3,10,2017-02-04 04:00:00,111 St,Liberty Av,A,40.684331,-73.832163,156.0,30.0,2017,1
4,11,2017-02-04 04:00:00,116 St,Lexington Av,6,40.798629,-73.941617,495.0,303.0,2017,1
...,...,...,...,...,...,...,...,...,...,...,...
4589375,113,2021-08-13 20:00:00,5 Av/53 St,Queens Blvd,EM,40.760167,-73.975224,1182.0,646.0,2021,2
4589376,114,2021-08-13 20:00:00,5 Av/59 St,Astoria,NQR,40.764811,-73.973347,1274.0,445.0,2021,3
4589377,310,2021-08-13 20:00:00,Fulton St,"Clark St, Lexington Av",2345ACJZ,40.709892,-74.008040,433.0,549.0,2021,8
4589378,311,2021-08-13 20:00:00,Fulton St,Jamaica,ACJZ2345,40.710374,-74.007582,491.0,844.0,2021,8
4589379,456,2021-08-13 20:00:00,Wall St,Lexington Av,45,40.707557,-74.011862,763.0,499.0,2021,2

In [58]:
#Only choosing 2017 and 2020
final = main_df.loc[(main_df['Year'] == 2017) | (main_df['Year'] == 2020)]
final

,Unique ID,Datetime,Stop Name,Line,Connecting Lines,Latitude,Longitude,Entries,Exits,Year,Num_Connecting_Lines
0,1,2017-02-04 04:00:00,103 St,Lexington Av,6,40.790600,-73.947478,403.0,222.0,2017,1
1,2,2017-02-04 04:00:00,103 St,Broadway - 7Av,1,40.799446,-73.968379,119.0,145.0,2017,1
2,3,2017-02-04 04:00:00,103 St,8th Av - Fulton St,BC,40.796092,-73.961454,55.0,81.0,2017,2
3,10,2017-02-04 04:00:00,111 St,Liberty Av,A,40.684331,-73.832163,156.0,30.0,2017,1
4,11,2017-02-04 04:00:00,116 St,Lexington Av,6,40.798629,-73.941617,495.0,303.0,2017,1
...,...,...,...,...,...,...,...,...,...,...,...
3962387,464,2020-12-31 20:00:00,Woodhaven Blvd,Queens Blvd,MR,40.733106,-73.869229,824.0,1123.0,2020,2
3962388,465,2020-12-31 20:00:00,Woodlawn,Jerome Av,4,40.886037,-73.878751,376.0,210.0,2020,1
3962389,466,2020-12-31 20:00:00,Woodside - 61 St,Flushing,7,40.745630,-73.902984,673.0,1555.0,2020,1
3962390,467,2020-12-31 20:00:00,York St,6th Av - Culver,F,40.701397,-73.986751,377.0,334.0,2020,1
3962391,468,2020-12-31 20:00:00,Zerega Av,Pelham,6,40.836488,-73.847036,71.0,230.0,2020,1

In [59]:
#reselect main columns
final = final[["Unique ID", "Year", "Stop Name", "Line", "Connecting Lines","Num_Connecting_Lines" ,
                   "Latitude", "Longitude", "Entries", "Exits"]]
final

,Unique ID,Year,Stop Name,Line,Connecting Lines,Num_Connecting_Lines,Latitude,Longitude,Entries,Exits
0,1,2017,103 St,Lexington Av,6,1,40.790600,-73.947478,403.0,222.0
1,2,2017,103 St,Broadway - 7Av,1,1,40.799446,-73.968379,119.0,145.0
2,3,2017,103 St,8th Av - Fulton St,BC,2,40.796092,-73.961454,55.0,81.0
3,10,2017,111 St,Liberty Av,A,1,40.684331,-73.832163,156.0,30.0
4,11,2017,116 St,Lexington Av,6,1,40.798629,-73.941617,495.0,303.0
...,...,...,...,...,...,...,...,...,...,...
3962387,464,2020,Woodhaven Blvd,Queens Blvd,MR,2,40.733106,-73.869229,824.0,1123.0
3962388,465,2020,Woodlawn,Jerome Av,4,1,40.886037,-73.878751,376.0,210.0
3962389,466,2020,Woodside - 61 St,Flushing,7,1,40.745630,-73.902984,673.0,1555.0
3962390,467,2020,York St,6th Av - Culver,F,1,40.701397,-73.986751,377.0,334.0
3962391,468,2020,Zerega Av,Pelham,6,1,40.836488,-73.847036,71.0,230.0

In [60]:
final = final.rename(columns={'Unique ID': 'id', 'Year': 'year', 'Stop Name': 'subway_name',
                                  'Line': 'main_line', 'Connecting Lines': 'on_line',
                                  'Num_Connecting_Lines': 'num_on_line' })
final

,id,year,subway_name,main_line,on_line,num_on_line,Latitude,Longitude,Entries,Exits
0,1,2017,103 St,Lexington Av,6,1,40.790600,-73.947478,403.0,222.0
1,2,2017,103 St,Broadway - 7Av,1,1,40.799446,-73.968379,119.0,145.0
2,3,2017,103 St,8th Av - Fulton St,BC,2,40.796092,-73.961454,55.0,81.0
3,10,2017,111 St,Liberty Av,A,1,40.684331,-73.832163,156.0,30.0
4,11,2017,116 St,Lexington Av,6,1,40.798629,-73.941617,495.0,303.0
...,...,...,...,...,...,...,...,...,...,...
3962387,464,2020,Woodhaven Blvd,Queens Blvd,MR,2,40.733106,-73.869229,824.0,1123.0
3962388,465,2020,Woodlawn,Jerome Av,4,1,40.886037,-73.878751,376.0,210.0
3962389,466,2020,Woodside - 61 St,Flushing,7,1,40.745630,-73.902984,673.0,1555.0
3962390,467,2020,York St,6th Av - Culver,F,1,40.701397,-73.986751,377.0,334.0
3962391,468,2020,Zerega Av,Pelham,6,1,40.836488,-73.847036,71.0,230.0

In [61]:
final.to_csv("trains_2017to2020.csv", sep=',', encoding='utf-8', index=False)